/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.flex-container{
    display: flex;
}

.justify-content-btw{
    justify-content: space-between;
}

/* HEADER */
header{
    min-height: 90px;
    background-color: #ff6900;
}

header nav{
    line-height: 90px;
}

header ul, .nav-tool{
    width: 15%;    
    /* debug */
    background-color: red;
}

header .logo{
    width: 70%;
    text-align: center;
    /* debug */
    background-color: blue;
}

.nav-tool{
    text-align: right;
}

/* debug */
.nav-tool span{
    margin-right: 10px;
}