/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: sans-serif;
}

.container{
    width: 75%;
    max-width: 1500px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.flex-container{
    display: flex;
}

.justify-content-btw{
    justify-content: space-between;
}

/* HEADER */
header{
    background-color: #ff6900;
    height: 70px;
    line-height: 70px;
}

header ul, .nav-tool{
    width: 20%;    
}

header ul li{
    color: white;
    font-weight: bold;
    margin-right: 13px;
}

header .logo{
    width: 60%;
    text-align: center;
}

.nav-tool{
    color: white;
    text-align: right;
}

.nav-tool i{
    margin-left: 8px;
}

.logo img{
    width: 20%;
    max-width: 100%;
    max-width: 100%;
    position:relative;
    vertical-align: middle;
}

/* MAIN */
.row{
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3 - 17px);
    margin-top: 3.4375em;
    /* debug */
    background-color: red;
    border:1px solid black
}

.card{
    position: relative;
    /* debug */
    height: 500px;
    background-color: blue;
}

/* Price */
.price{
    position:absolute;
    bottom:50px;
}

.info-box{
    color: white;
    text-align: center;
    padding: 5px 10px
}

.discount{
    background-color: red;
    margin-right: 5px;
}

.item-info{
    background-color: green;
}

/* Heart */
.heart{
    font-size: 2.3rem;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 13px;
}