/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: sans-serif;
}

.container{
    width: 75%;
    max-width: 1500px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.flex-container{
    display: flex;
}

.justify-content-btw{
    justify-content: space-between;
}

/* HEADER */
header{
    background-color: #ff6900;
    height: 70px;
    line-height: 70px;
}

header ul, .nav-tool{
    width: 20%;    
}

header ul li{
    color: white;
    font-weight: bold;
    margin-right: 13px;
}

header .logo{
    width: 60%;
    text-align: center;
}

.nav-tool{
    color: white;
    text-align: right;
}

.nav-tool i{
    margin-left: 8px;
}

.logo img{
    width: 20%;
    max-width: 100%;
    position:relative;
    vertical-align: middle;
}